body{
    background-color: whitesmoke
}


.flexContainer{
    display:flex;
    background-color: rgb(255, 255, 255);
    align-content:space-between;
    flex-wrap:wrap;
    
}


header{
    background-color: yellowgreen;
    font-size: 70px;
    text-align: center;
    font-style: bold;
    font-family: fantasy;
    height: 80px;
    
    
}

article{
    font-size: 30px;
    background-color: wheat;
    text-align: left;
    float: left;
    width: 600px;
    padding-left:10px;
    flex: auto;
    
}

article> p{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    width: 600px;

}

footer{
    background-color: teal;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    height: 80px;
    
}

ul{
    text-align: left;
    font-size: 25px;
    float: left;
    height: 200px;
    
}

aside{
    background-color:royalblue;
    text-align: left;
    padding-right:10px;
    flex: auto;
}

img{
    padding: 10px;
}


