.flexContainer{
    display:flex;
    background-color: rgb(143, 82, 82);
    align-content: space-between;
    flex-wrap:wrap;
}

.flexContainer > div{
    background-color: yellow;
    margin:10px;
    text-align:center;
    line-height:50px;
    font-size:30px;
    width:fit-content;

}